# Render автоматически устанавливает PORT
PORT=3000

# Конфигурация Remonline API
REMONLINE_API_BASE=https://api.remonline.app
REMONLINE_BRANCH_ID=134397
REMONLINE_TOKEN=275a47a9b5eb4249ad4e8d6e0c2f219b

# ID отслеживаемых масел
OIL_5W30_SKY=29400883
OIL_5W30_DIESEL=30262242
OIL_5W40_SKY=29400905